<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
   
      <button mat-raised-button routerLink="" class="home">Home</button>
    </li>
    <li class="nav-item">
        <button mat-raised-button routerLink="colleges" class="colleges">Colleges</button>
    </li>
    <li class="nav-item">
        
        <button mat-raised-button routerLink="addcolleges" class="addcolleges">AddColleges</button>
    </li>
    <li class="nav-item">
        
      
      <button mat-raised-button routerLink="bestCollege" class="bestCollege">BestColleges</button>
  </li>

    <li class="nav-item">
        <button mat-fab routerLink="signup" class="signup">SignUp</button>
      
    </li>
    
    <li class="nav-item">
  
        <button mat-fab routerLink="signin" class="signin">SignIn</button>

      </li>
   
  
  </ul>
</nav>