<div class="container signin">
  <div class="jumbotron">
    <form [formGroup]="registerForm" (ngSubmit)="signin()">
      <div class="form-group row">
          <label for="email" class="l1">Email</label>
          <mat-form-field appearance = "outline"  class = "tp1" >
            <input type="email" matInput   placeholder="email@gmail.com"   formControlName="email" id="email"  
            matInput [ngClass]="{'is-invalid':submitted && f.email.errors}">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">
                    This field is required
                </div>
                <div *ngIf="f.email.errors.email">
                    Email must be a valid email address
                </div>
              </div>
            </mat-form-field>
        </div>
      <div class="form-group row">
          <label for="password"  class="l1">Password</label>
          <mat-form-field appearance = "outline" hintLabel="Min 5 characters" class = "tp2" >
            <input type="password" matInput #input maxlength="10  placeholder="Enter your password formControlName="password" id="password"  [type]="hide ? 'password' : 'text'"
            matInput [ngClass]="{'is-invalid':submitted && f.password.errors}">
            <mat-hint align="end"  >{{input.value?.length || 0}}/10</mat-hint>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">
                </div>
                <div *ngIf="f.password.errors.minlength">
                  </div>
              </div>
            </mat-form-field>
        </div><br>
      <div class="btn">
        <button type="submit" class="btn btn-success" >SignIn</button>
      </div>
    </form>
    
  </div>
</div>