<div class="container" id="container">
    <div class="form-container sign-up-container">
        <img src="https://s-media-cache-ak0.pinimg.com/736x/d5/9b/13/d59b13873906fac296fcd20fc4238324--education-issues-educational-quotes.jpg">
    </div>
    <div class="imagecontainer">
        <img src="https://i.pinimg.com/736x/fe/1e/73/fe1e73dd673597785a578cceacb40efa--workplace-motivation-positive-workplace-quotes.jpg">
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome to</h1>
                <br>
                 <h4>Where to Study?</h4>   
             <br><h6> Explore the best suited study destinations for you </h6>
                
                <button class="ghost" id="signIn"><img src="https://cdn3.iconfinder.com/data/icons/arrows-85/24/Arrow-31-512.png" class="buttonimg"></button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Edustorm</h1>
                <h4>Affordable plans to successfuly start your study </h4>
            
                <p> Discover a plethora of colleges and studies that will help secure your future<p>
                <button class="ghost" id="signUp"><img src="https://cdn3.iconfinder.com/data/icons/arrows-85/24/Arrow-23-512.png" class="buttonimg" ></button>
            </div>
        </div>
    </div>
</div>